@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
* {
  font-family: "roboto";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "roboto";
}

/* Page Accueil */
.spinner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 2;
  -webkit-animation: 5s 1s 1 both disparition;
          animation: 5s 1s 1 both disparition;
}

.spinner .div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.spinner .div .animation {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.spinner .div .animation .fork {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: calc(50% - 320px);
}

.spinner .div .animation .fork img {
  width: 155px;
  -webkit-animation: 1s 0.5s 1 both rotatefork;
          animation: 1s 0.5s 1 both rotatefork;
}

.spinner .div .animation .title p {
  font-family: "shrikhand";
  width: 0%;
  font-size: 2em;
  text-overflow: clip;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: 3s 1s 1 both opacite;
          animation: 3s 1s 1 both opacite;
}

.spinner .div .animation .knife {
  width: calc(50% - 320px);
}

.spinner .div .animation .knife img {
  width: 170px;
  -webkit-animation: 1s 0.5s 1 both rotateknife;
          animation: 1s 0.5s 1 both rotateknife;
  position: relative;
  top: 10px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #cadrelogo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 -6px 20px 0px #383838;
          box-shadow: 0 -6px 20px 0px #383838;
  position: relative;
}

header #cadrelogo a {
  text-align: center;
}

header #cadrelogo a img {
  width: 35%;
  margin: 25px;
}

header form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 55px;
  background-color: #EAEAEA;
  font-size: 1.2em;
}

header form #localisation {
  position: relative;
  left: 22px;
}

header form #localisation .fa-map-marker-alt {
  color: #353535;
  margin-right: 5px;
}

header form #searchbar {
  border: none;
  background-color: transparent;
  padding: 10px 10px 10px 5px;
  position: relative;
  left: 22px;
}

header form #searchbar::-webkit-input-placeholder {
  font-size: 1.2em;
  font-weight: 600;
  color: #353535;
}

header form #searchbar:-ms-input-placeholder {
  font-size: 1.2em;
  font-weight: 600;
  color: #353535;
}

header form #searchbar::-ms-input-placeholder {
  font-size: 1.2em;
  font-weight: 600;
  color: #353535;
}

header form #searchbar::placeholder {
  font-size: 1.2em;
  font-weight: 600;
  color: #353535;
}

/* Page resto */
header .headresto .restohaut {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .headresto .restohaut a {
  text-align: center;
  text-decoration: none;
}

header .headresto .restohaut a i {
  position: absolute;
  top: 30px;
  left: 70px;
  font-size: 1.3em;
  color: black;
}

header .headresto .restohaut a img {
  width: 35%;
  margin: 25px;
}

header .headresto img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Page accueil */
main .reservation {
  width: 100%;
}

main .reservation .cadrereserv {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #F6F6F6;
  padding: 50px 15px;
}

main .reservation .cadrereserv h1 {
  text-align: center;
  margin-bottom: 15px;
}

main .reservation .cadrereserv #exploration {
  text-align: center;
  margin-bottom: 15px;
}

main .reservation .cadrereserv .btn {
  text-decoration: none;
  color: white;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  padding: 15px;
  border-radius: 50px;
  -webkit-box-shadow: 0px 5px 8px 0px #b2b2b2;
          box-shadow: 0px 5px 8px 0px #b2b2b2;
}

main .fonctionnement {
  width: 100%;
}

main .fonctionnement .cadrefonctionnement {
  padding: 50px 25px;
  margin: 0 0 25px 0;
}

main .fonctionnement .cadrefonctionnement .etapes {
  padding: 0 10px;
}

main .fonctionnement .cadrefonctionnement .etapes .etapesfonctionnement {
  background-color: #F6F6F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 5px 10px 0px #cfcfcf;
          box-shadow: 0px 5px 10px 0px #cfcfcf;
  margin-top: 25px;
  height: 70px;
  border-radius: 25px;
  font-weight: bold;
}

main .fonctionnement .cadrefonctionnement .etapes .etapesfonctionnement .numerosfonctionnement {
  background-color: #9356DC;
  color: white;
  padding: 6px 10px 4px 10px;
  border-radius: 100%;
  font-family: 'roboto';
  position: relative;
  left: -15px;
}

main .fonctionnement .cadrefonctionnement .etapes .etapesfonctionnement p {
  margin: 0;
}

main .fonctionnement .cadrefonctionnement .etapes .etapesfonctionnement .fas {
  color: #353535;
  font-size: 1.4em;
  margin: 0 15px 0 8px;
}

main .fonctionnement .cadrefonctionnement .etapes .etapesfonctionnement .fa-store {
  color: #9356DC;
}

main .fonctionnement .cadrefonctionnement .etapes .degustez {
  background-color: #f5edff;
}

main #restaurants {
  background-color: #F6F6F6;
}

main #restaurants .cadrerestaurants {
  padding: 50px 25px;
}

main #restaurants .cadrerestaurants .articlesresto .articlerestaurant {
  border-radius: 25px;
  -webkit-box-shadow: 0px 5px 10px 0px #cfcfcf;
          box-shadow: 0px 5px 10px 0px #cfcfcf;
  margin-top: 15px;
}

main #restaurants .cadrerestaurants .articlesresto .articlerestaurant .photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main #restaurants .cadrerestaurants .articlesresto .articlerestaurant .photos a {
  width: 100%;
}

main #restaurants .cadrerestaurants .articlesresto .articlerestaurant .photos a img {
  width: 100%;
  height: 175px;
  border-radius: 25px 25px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: -3px;
}

main #restaurants .cadrerestaurants .articlesresto .articlerestaurant .photos .news {
  width: 0;
}

main #restaurants .cadrerestaurants .articlesresto .articlerestaurant .photos .news .nouveaux {
  padding: 10px 20px;
  color: #008766;
  background-color: #99E2D0;
  height: 40px;
  position: relative;
  top: 15px;
  right: 120px;
  width: 100px;
}

main #restaurants .cadrerestaurants .articlesresto .articlerestaurant .container {
  background-color: white;
  border-radius: 0 0 25px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 15px 15px 10px;
}

main #restaurants .cadrerestaurants .articlesresto .articlerestaurant .container .coeur {
  position: relative;
  left: -35px;
  top: -12px;
}

main #restaurants .cadrerestaurants .articlesresto .articlerestaurant .container .coeur .fas {
  background: linear-gradient(45deg, #FF79DA 0%, #9356DC 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5em;
  opacity: 0;
  position: absolute;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

main #restaurants .cadrerestaurants .articlesresto .articlerestaurant .container .coeur .far {
  font-size: 1.5em;
  position: absolute;
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

main #restaurants .cadrerestaurants .articlesresto .articlerestaurant .container .conteneur a {
  text-decoration: none;
}

main #restaurants .cadrerestaurants .articlesresto .articlerestaurant .container .conteneur a h3 {
  color: black;
}

main #restaurants .cadrerestaurants .articlesresto .articlerestaurant .container .conteneur a p {
  text-decoration: none;
  color: black;
}

main .reservation .cadrereserv .btn:hover {
  -webkit-box-shadow: 0px 5px 8px 0px #585858;
          box-shadow: 0px 5px 8px 0px #585858;
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
}

main .fonctionnement .cadrefonctionnement .etapes .etapesfonctionnement:hover {
  background-color: #c5abe3;
}

main #restaurants .cadrerestaurants .articlesresto .articlerestaurant {
  cursor: pointer;
}

main #restaurants .cadrerestaurants .articlesresto .articlerestaurant .container .coeur:hover .fas {
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

main #restaurants .cadrerestaurants .articlesresto .articlerestaurant .container .coeur:hover .far {
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* Pages resto */
main .mainresto {
  position: relative;
  top: -100px;
  background-color: #F6F6F6;
  border-radius: 50px 50px 0 0;
  margin-bottom: -100px;
}

main .mainresto .cadrepr {
  padding: 40px 30px;
}

main .mainresto .cadrepr .titlepr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

main .mainresto .cadrepr .titlepr h1 {
  font-family: "Shrikhand";
  font-weight: 500;
  width: 85%;
}

main .mainresto .cadrepr .titlepr .coeurs {
  font-size: 1.5em;
}

main .mainresto .cadrepr .titlepr .coeurs .far {
  opacity: 1;
  position: absolute;
  right: 50px;
  top: 52px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

main .mainresto .cadrepr .titlepr .coeurs .fas {
  opacity: 0;
  position: absolute;
  right: 50px;
  top: 52px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background: linear-gradient(45deg, #FF79DA 0%, #9356DC 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

main .mainresto .cadrepr .menu {
  -webkit-animation: 1s 1s 1 both apparition;
          animation: 1s 1s 1 both apparition;
}

main .mainresto .cadrepr .menu .entrees {
  margin: 20px 0;
}

main .mainresto .cadrepr .menu .entrees h2 {
  width: 48px;
  border-bottom: 3px solid #99E2D0;
  font-weight: 400;
  font-size: 1.2em;
}

main .mainresto .cadrepr .menu .plats {
  margin: 20px 0;
}

main .mainresto .cadrepr .menu .plats h2 {
  width: 48px;
  border-bottom: 3px solid #99E2D0;
  font-weight: 400;
  font-size: 1.2em;
}

main .mainresto .cadrepr .menu .desserts {
  margin: 20px 0;
}

main .mainresto .cadrepr .menu .desserts h2 {
  width: 48px;
  border-bottom: 3px solid #99E2D0;
  font-weight: 400;
  font-size: 1.2em;
}

main .mainresto .cadrepr .menu .btn {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .mainresto .cadrepr .menu .btn .btn2 {
  text-decoration: none;
  color: white;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  padding: 15px 50px;
  border-radius: 50px;
  -webkit-box-shadow: 0px 5px 8px 0px #b2b2b2;
          box-shadow: 0px 5px 8px 0px #b2b2b2;
}

main .mainresto .cadrepr .titlepr .coeurs:hover .far {
  opacity: 0;
}

main .mainresto .cadrepr .titlepr .coeurs:hover .fas {
  opacity: 1;
}

.cards {
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 15px;
  -webkit-box-shadow: 0px 5px 10px 0px #cfcfcf;
          box-shadow: 0px 5px 10px 0px #cfcfcf;
  margin-top: 15px;
}

.cards .intitule {
  width: 90%;
  height: 100%;
  padding: 12px 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cards .intitule h3 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1.1em;
}

.cards .intitule p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 0.9em;
}

.cards .prix {
  width: 10%;
  padding: 12px 0px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.cards .prix .prixrepas {
  font-weight: 600;
}

.cards .check {
  width: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #99E2D0;
  border-radius: 0 15px 15px 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.cards .check .fa-check-circle {
  font-size: 1.5em;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.cards:hover {
  cursor: pointer;
}

.cards:hover .intitule {
  width: 60%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.cards:hover .prix {
  width: 10%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.cards:hover .prix .prixrepas {
  font-weight: 600;
}

.cards:hover .check {
  width: 30%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.cards:hover .check .fa-check-circle {
  -webkit-animation: 1s 0s 1 both rotation;
          animation: 1s 0s 1 both rotation;
}

main .mainresto .cadrepr .menu .btn .btn2:hover {
  -webkit-box-shadow: 0px 5px 8px 0px #585858;
          box-shadow: 0px 5px 8px 0px #585858;
  -webkit-filter: brightness(1.1);
          filter: brightness(1.1);
}

/* Footer All pages */
footer .cadrefooter {
  background-color: #353535;
  padding: 20px;
}

footer .cadrefooter a {
  text-decoration: none;
}

footer .cadrefooter a .logo {
  font-family: "Shrikhand";
  color: white;
  margin-bottom: 15px;
  font-size: 1.2em;
}

footer .cadrefooter nav ul li {
  list-style: none;
  margin-bottom: 10px;
}

footer .cadrefooter nav ul li a {
  text-decoration: none;
  color: white;
}

footer .cadrefooter nav ul li a i {
  margin-right: 15px;
}

footer .cadrefooter nav ul li a i.fas.fa-hands-helping {
  font-size: 0.7em;
}

/* Animations */
@-webkit-keyframes disparition {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes disparition {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@-webkit-keyframes opacite {
  0% {
    width: 0px;
  }
  85% {
    width: 184px;
  }
  100% {
    width: 184px;
  }
}

@keyframes opacite {
  0% {
    width: 0px;
  }
  85% {
    width: 184px;
  }
  100% {
    width: 184px;
  }
}

@-webkit-keyframes rotatefork {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    position: relative;
    right: -75px;
  }
  100% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    position: relative;
    right: -30px;
  }
}

@keyframes rotatefork {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    position: relative;
    right: -75px;
  }
  100% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    position: relative;
    right: -30px;
  }
}

@-webkit-keyframes rotateknife {
  0% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
    position: relative;
    left: -75px;
  }
  100% {
    -webkit-transform: rotate(55deg);
            transform: rotate(55deg);
    position: relative;
    left: -30px;
  }
}

@keyframes rotateknife {
  0% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
    position: relative;
    left: -75px;
  }
  100% {
    -webkit-transform: rotate(55deg);
            transform: rotate(55deg);
    position: relative;
    left: -30px;
  }
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes apparition {
  0% {
    opacity: 0;
    position: relative;
    top: 40px;
  }
  100% {
    opacity: 1;
    position: relative;
    top: 0;
  }
}

@keyframes apparition {
  0% {
    opacity: 0;
    position: relative;
    top: 40px;
  }
  100% {
    opacity: 1;
    position: relative;
    top: 0;
  }
}
/*# sourceMappingURL=styles.css.map */