@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
* {
  font-family: "roboto";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "roboto";
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #cadrelogo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 -6px 20px 0px #383838;
          box-shadow: 0 -6px 20px 0px #383838;
  position: relative;
}

header #cadrelogo img {
  width: 35%;
  margin: 25px;
}

header p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 55px;
  background-color: #e1e1e1;
  font-size: 1.2em;
  font-weight: 600;
}

header p #localisation .fa-map-marker-alt {
  margin-right: 15px;
  color: #787878;
}

main .reservation {
  width: 100%;
}

main .reservation .cadrereserv {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ececec;
  padding: 50px 15px;
}

main .reservation .cadrereserv h1 {
  text-align: center;
  margin-bottom: 15px;
}

main .reservation .cadrereserv #exploration {
  text-align: center;
  margin-bottom: 15px;
}

main .reservation .cadrereserv a {
  text-decoration: none;
  color: white;
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  border: none;
  padding: 15px;
  border-radius: 50px;
  -webkit-box-shadow: 0px 5px 8px 0px #b2b2b2;
          box-shadow: 0px 5px 8px 0px #b2b2b2;
}

main .fonctionnement {
  width: 100%;
}

main .fonctionnement .cadrefonctionnement {
  padding: 50px 25px;
  margin: 0 0 25px 0;
}

main .fonctionnement .cadrefonctionnement .etapes {
  padding: 0 10px;
}

main .fonctionnement .cadrefonctionnement .etapes .etapesfonctionnement {
  background-color: #ececec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 5px 10px 0px #cfcfcf;
          box-shadow: 0px 5px 10px 0px #cfcfcf;
  margin-top: 25px;
  height: 70px;
  border-radius: 25px;
  font-weight: bold;
}

main .fonctionnement .cadrefonctionnement .etapes .etapesfonctionnement .numerosfonctionnement {
  background-color: #9356DC;
  color: white;
  padding: 6px 10px 4px 10px;
  border-radius: 100%;
  font-family: 'roboto';
  position: relative;
  left: -15px;
}

main .fonctionnement .cadrefonctionnement .etapes .etapesfonctionnement p {
  margin: 0;
}

main .fonctionnement .cadrefonctionnement .etapes .etapesfonctionnement .fas {
  color: #787878;
  font-size: 1.4em;
  margin: 0 15px 0 8px;
}

main .fonctionnement .cadrefonctionnement .etapes .etapesfonctionnement .fa-store {
  color: #9356DC;
}

main .fonctionnement .cadrefonctionnement .etapes .degustez {
  background-color: #f8f2ff;
}

main #restaurants {
  background-color: #ececec;
}

main #restaurants .cadrerestaurants {
  padding: 50px 25px;
}

main #restaurants .cadrerestaurants .articlesresto .articlerestaurant {
  border-radius: 25px;
  -webkit-box-shadow: 0px 5px 10px 0px #cfcfcf;
          box-shadow: 0px 5px 10px 0px #cfcfcf;
  margin-top: 15px;
}

main #restaurants .cadrerestaurants .articlesresto .articlerestaurant img {
  width: 100%;
  height: 175px;
  border-radius: 25px 25px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: -3px;
}

main #restaurants .cadrerestaurants .articlesresto .articlerestaurant .container {
  background-color: white;
  border-radius: 0 0 25px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 15px 15px 10px;
}

main #restaurants .cadrerestaurants .articlesresto .articlerestaurant .container .fas {
  background: linear-gradient(45deg, #FF79DA 0%, #9356DC 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5em;
  display: none;
}

main #restaurants .cadrerestaurants .articlesresto .articlerestaurant .container .far {
  font-size: 1.5em;
}

main #restaurants .cadrerestaurants .articlesresto .articlerestaurant:hover {
  cursor: pointer;
}

main #restaurants .cadrerestaurants .articlesresto .articlerestaurant:hover .container .fas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main #restaurants .cadrerestaurants .articlesresto .articlerestaurant:hover .container .far {
  display: none;
}

footer .cadrefooter {
  background-color: #787878;
  padding: 20px;
}

footer .cadrefooter .logo {
  font-family: "Shrikhand";
  color: white;
  margin-bottom: 15px;
  font-size: 1.2em;
}

footer .cadrefooter nav ul li {
  list-style: none;
  margin-bottom: 10px;
}

footer .cadrefooter nav ul li a {
  text-decoration: none;
  color: white;
}

footer .cadrefooter nav ul li a i {
  margin-right: 15px;
}

footer .cadrefooter nav ul li a i.fas.fa-hands-helping {
  font-size: 0.7em;
}
/*# sourceMappingURL=styles.css.map */