@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

$colorprimaire : #9356DC;
$colorsecondaire : #FF79DA;
$colortertiaire : #99E2D0;
$colorgris: #787878;
$colorgrisclair: #e1e1e1;
$colorgristresclair: #ececec;
$policetitre : 'Shrikhand',;
$policenormale : 'roboto';

*{
    font-family: $policenormale;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $policenormale;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    #cadrelogo{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 -6px 20px 0px #383838;
        position: relative;
        img{
            width: 35%;
            margin: 25px;
        }
    }
    
    p{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 55px;
        background-color: $colorgrisclair;
        font-size: 1.2em;
        font-weight: 600;
        #localisation{
            .fa-map-marker-alt{
                margin-right: 15px;
                color:$colorgris;
            }
        }
    }
}

main{
    .reservation{
        width: 100%;
        .cadrereserv{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: $colorgristresclair;
            padding: 50px 15px;

            h1{
                text-align: center;
                margin-bottom: 15px;
            }

            #exploration{
                text-align: center;
                margin-bottom: 15px;

            }

            a{
                text-decoration: none;
                color: white;
                text-align: center;
                background: linear-gradient($colorsecondaire, $colorprimaire);
                color: white;
                border: none;
                padding: 15px;
                border-radius: 50px;
                box-shadow: 0px 5px 8px 0px #b2b2b2;
            }
        }
    }

    .fonctionnement{
        width: 100%;
        .cadrefonctionnement{
            padding: 50px 25px;
            margin: 0 0 25px 0;

            .etapes{
                padding: 0 10px;

                .etapesfonctionnement{
                    background-color: $colorgristresclair;
                    display: flex;
                    align-items: center;
                    box-shadow: 0px 5px 10px 0px #cfcfcf;
                    margin-top: 25px;
                    height: 70px;
                    border-radius: 25px;
                    font-weight: bold;
                    .numerosfonctionnement{
                        background-color: $colorprimaire;
                        color: white;
                        padding: 6px 10px 4px 10px;
                        border-radius: 100%;
                        font-family: 'roboto';
                        position: relative;
                        left: -15px;
                    }
    
                    p{
                        margin: 0;
                    }
    
                    .fas{
                        color: $colorgris;
                        font-size: 1.4em;
                        margin: 0 15px 0 8px;
                    }
    
                    .fa-store{
                        color: $colorprimaire;
                    }
                }

                .degustez{
                    background-color: #f8f2ff;
                }
            }

            
        }
    }

    #restaurants{
        background-color: $colorgristresclair;
        .cadrerestaurants{
            padding: 50px 25px;
            .articlesresto{
                .articlerestaurant{
                    border-radius: 25px;
                    box-shadow: 0px 5px 10px 0px #cfcfcf;
                    margin-top: 15px;
                    a{
                        width: 100%;
                        img{
                            width: 100%;
                            height: 175px;
                            border-radius: 25px 25px 0 0;
                            object-fit: cover;
                            margin-bottom: -3px;
                        }

                    }
                    
                    .container{
                        background-color: white;
                        border-radius: 0 0 25px 25px;
                        display: flex;
                        flex-direction: row-reverse;
                        align-items: center;
                        justify-content: space-between;
                        padding: 15px 15px 15px 10px;
                        
                        .fas{
                            background: linear-gradient(45deg, $colorsecondaire 0%, $colorprimaire 100%);
                            background-clip: border-box;
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            font-size: 1.5em;
                            display: none;
                        }
    
                        .far{
                            font-size: 1.5em;
                        }
    
                        .conteneur{
                            a{
                                text-decoration: none;
                                h3{
                                    
                                    color: black;
                                }
                                p{
                                    text-decoration: none;
                                    color: black;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

main{
    #restaurants{
        .cadrerestaurants{
            .articlesresto{
                .articlerestaurant{
                    cursor: pointer;
                    .container{
                        .fas{
                            display: flex;
                        }

                        .far:hover{
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

footer{
    .cadrefooter{
        background-color: $colorgris;
        padding: 20px;
        .logo{
            font-family: $policetitre;
            color: white;
            margin-bottom: 15px;
            font-size: 1.2em;
        }
        nav{
            ul{
                li{
                    list-style: none;
                    margin-bottom: 10px;
                    a{
                        text-decoration: none;
                        color: white;
                        i{
                            margin-right: 15px;
                        }
                        i.fas.fa-hands-helping {
                            font-size: 0.7em;
                        }
                    }
                }
            }
        }
    }
}